<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta name="google-site-verification" content="qRHZCY03sLTdiBhGhISvUXQ5v33v5S9tjWSRtYKUwHg" />
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}" />
    <link rel="preload" href="{{asset "main/css/newsletter.css"}}" as="style" />

    <link rel="stylesheet" type="text/css" href="{{asset "main/css/newsletter.css"}}" media="screen" />
    <noscript>
        <link rel="stylesheet" href="{{asset "main/css/noscript.css"}}" /></noscript>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{#if @site.cover_image}}
    <style>
        #wrapper>.bg {
            background-image: url({{asset "images/overlay.png"}}),
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("{{img_url @site.cover_image}}")
        }
    </style>
    {{/if}}

</head>

<body class="is-preload {{body_class}}">

    <div id="wrapper" {{#is "home"}}class="fade-in" {{/is}}>

        {{!-- Intro --}}
        {{#is "home"}}
        <div id="intro">
            <h1>{{@site.title}}</h1>
            <p>{{@site.description}}</p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>
        {{/is}}

        {{!-- Header --}}
        <header id="header">
            {{#if @site.logo}}
            <a href="{{@site.url}}" class="logo image"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
            <a href="{{@site.url}}" class="logo">{{@site.title}}</a>
            {{/if}}
        </header>

        {{!-- Nav --}}
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        {{!-- The big email subscribe modal content --}}
        {{#if @labs.members}}
        <div class="subscribe-success-message">
            <a class="subscribe-close-button" href="javascript:;"></a>
            You've successfully subscribed to {{@site.title}}!
        </div>

        <div id="subscribe" class="subscribe-overlay">
            <a class="subscribe-close-overlay" href="#"></a>
            <a class="subscribe-close-button" href="#"></a>
            <div class="subscribe-overlay-content">
                {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{/if}}
                <div class="subscribe-form">
                    <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
                    <p class="subscribe-overlay-description">Stay up to date! Get all the latest & greatest posts
                        delivered
                        straight to your inbox</p>
                    <form data-members-form="subscribe">
                        <div class="form-group">
                            <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                                autocomplete="false" />
                            <button class="button primary" type="submit">
                                <span class="button-content">Subscribe</span>
                                <span class="button-loader">{{> "icons/loader"}}</span>
                            </button>
                        </div>
                        <div class="message-success">
                            <b style="color:white;">Great!</b> Check your inbox and click the link to confirm your
                            subscription.
                        </div>
                        <div class="message-error">
                            Please enter a valid email address!
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}

        {{!-- The footer at the very bottom of the screen --}}
        <div id="copyright">
            <ul>
                <li>&copy; {{@site.title}} 2020</li>
            </ul>
        </div>

    </div>


    {{!-- Theme Scripts --}}
    <script src="{{asset "main/js/jquery.min.js"}}"></script>
    <script src="{{asset "main/js/jquery.scrollex.min.js"}}"></script>
    <script src="{{asset "main/js/jquery.scrolly.min.js"}}"></script>
    <script src="{{asset "main/js/browser.min.js"}}"></script>
    <script src="{{asset "main/js/breakpoints.min.js"}}"></script>
    <script src="{{asset "main/js/util.js"}}"></script>
    <script src="{{asset "main/js/main.js"}}"></script>

    {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
    it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>